html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}	
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; 
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; 
}
table {
	border-collapse: collapse;
	border-spacing: 0; 
}
body {
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #333;
	font-size: 13px;
	background: #2b2b2b repeat;
}
a {
	text-decoration: none;
	color: #fff;
}

#switcher {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #1b1b1b;
	z-index: 999999;
}

.wrapper {
	width: 100%;
	margin: auto;
	padding: 15px 0 0 30px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box
}

/* Logo */
.logo {
	float: left;
	margin: -5px 30px 0 0
}
.logo img { 
	opacity: 1;
	height: 50px;
	width: auto
}
.logo img:hover { opacity: 0.68 }


#dd-items {
	display: block;
}

/* Dropdown wrap */
.dd-wrap {
	display: block;
	float: left;
	position: relative;
	height: 34px;
	margin-top: 3px
}
.dd-wrap ul {
	display: none;
	width: 270px;
	height: 271px;
	margin-left: 0;
	overflow-x: hidden;
	border-top: 1px solid #444
}
.dd-wrap ul li {
	background: #2c2c2c;
	border-bottom: 1px solid #444
}
.dd-wrap ul li:last-child {
	border-bottom: none
}
.dd-wrap ul li:hover {
	background: #333
}
.dd-wrap ul li a {
	display: block;
	padding: 10px 6px 10px 10px;
	color: #919191
}
.dd-wrap ul li a:hover {
	color: #f1f1f1
}

/* Dropdown selected */
.dd-selected {
	background: #2b2b2b;
	width: 250px;
	display: block;
	padding:10px;
	color: #999 !important;
	border-radius: 2px
}
.dd-selected:hover {
    color:#F0F0F0;
}

/* Dropdown chevrons */
.c-down, 
.c-up {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	background-color: #444;
	height: 24px;
	border-radius: 2px
}
.c-down:hover, 
.c-up:hover {
	background-color: #555
} 
.c-down:hover path, 
.c-up:hover path {
	fill: #eee !important
}

/* Dropdown preview */
.preview {
	display: none;
	position: absolute;
	left: 275px;
	top: 0;
	background: #2c2c2c;
	padding: 7px;
	border-radius: 3px;
	z-index: 1
}
.dd-wrap ul li:hover .preview { 
	display: inline
}
.dd-wrap ul li span {
	float: right;
	font-size: 11px;
	background: #444;
	border-radius: 2px;
	padding: 3px 8px 4px 8px;
	color: #919191;
	margin-top: -2px;
	min-width: 40px;
	text-align: center
}
.dd-wrap ul li:hover span {
	background: #32ae32;
	color: #fff
}

/* Links */
.buy a svg, 
.close a svg {
	vertical-align: middle
}
.close a { 
	margin-right: -30px
}
.buy-text {
	margin-left: 6px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	top: -7px;
	padding: 5px 0
}
.link-buy a,
.link-close a{
	padding: 0 20px;
	float: right;
	line-height: 82px;
	height: 70px;
	margin-top: -15px;
	vertical-align: middle;
	border-left: 1px solid #363636;
	color: #919191
}
.link-buy a path, 
.link-close a path {
	fill: #919191 !important
}
.link-buy a:hover, 
.link-close a:hover {
	background-color: #282828;
	color: #fff
}
.link-buy a:hover path, 
.link-close a:hover path {
	fill: #fff !important
}


#switcher-frame {
	margin: 0 auto;
<<<<<<< HEAD
	display: block
=======
	display: block;
	background-color: #808080
>>>>>>> e0745bf126c55f29e22281f4dca2d117b1a69d61
}

@media (min-width: 768px) and (max-width: 979px) {
	.preview { width: 360px }
}
    
@media (max-width: 767px) {
	.preview {
		width: 300px;
		left: 191px
	}
	.dd-selected { width: 160px }
	.dd-wrap ul li a { min-width: 190px }
	.dd-wrap ul { width: 168px }
	.logo { margin-right: 10px }
}

@media (max-width: 600px){
	.dd-wrap { display: none !important }
}

@media (max-width: 480px) {
	.preview, .buy-text { display: none !important }
	.buy a, .close a { padding: 0 15px }
	.buy a img, .close a img { margin-right: 0 }
<<<<<<< HEAD
}
=======
}
>>>>>>> e0745bf126c55f29e22281f4dca2d117b1a69d61
