html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}	
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; 
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; 
}
table {
	border-collapse: collapse;
	border-spacing: 0; 
}
body {
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #333;
	font-size: 13px;
	background: #2b2b2b repeat;
}
a {
	text-decoration: none;
	color: #fff;
}

#switcher {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #1b1b1b;
	z-index: 999999;
}

.wrapper {
	width: 100%;
	margin: auto;
	padding: 15px 0 0 30px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box
}

/* Logo */
.logo {
	float: left;
	margin: -5px 30px 0 0
}
.logo img { 
	opacity: 1;
	height: 50px;
	width: auto
}
.logo img:hover { opacity: 0.68 }


#dd-items {
	display: block;
}

/* Dropdown wrap */
.dd-wrap {
	display: block;
	float: left;
	position: relative;
	height: 34px;
	margin-top: 3px
}
.dd-wrap ul {
	display: none;
	width: 270px;
	height: 271px;
	margin-left: 0;
	overflow-x: hidden;
	border-top: 1px solid #444
}
.dd-wrap ul li {
	background: #2c2c2c;
	border-bottom: 1px solid #444
}
.dd-wrap ul li:last-child {
	border-bottom: none
}
.dd-wrap ul li:hover {
	background: #333
}
.dd-wrap ul li a {
	display: block;
	padding: 10px 6px 10px 10px;
	color: #919191
}
.dd-wrap ul li a:hover {
	color: #f1f1f1
}

/* iFrame */
#switcher-frame {
	margin: 0 auto;
	display: block
}
